{% extends 'base.html' %}
{% load blog_tags %}
{% load static %}
{% block content %}
<!-- Post Content-->
<article class="mb-4">
    <aside class="float-end pe-5 mt-5"><h3>Similar Posts</h3>
        <ul>
            {% for post in similar_posts %}
            <li>
            <a class="text-primary" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </li>
            {% empty %}
        There are no similar Posts  yet.
            {% endfor %}
           </ul></aside>
    <div class="container px-2">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-12 col-lg-8 col-xl-7">
                <h3 class="section-heading">{{post.title}}</h3>
                <p>{{post.body}}</p>
                  <p class="fw-bold">  Posted by
                    <a style="text-decoration:none;" class="text-primary" href="#">{{post.author}}</a>
                    &middot; on
                    {{post.publish}}
                </p>
                <p><a class="nav nav-link text-primary" href="{% url "blog:post_share" post.id %}">Share this Post</a></p> 
                {% with comment.count as total_comments %}
                <h2 class="section-heading">
                    {{total_comments}} Comments {{total_comments|pluralize}}
                </h2>
    
                {% endwith %}
                {% for comment in comments  %}
                <p class="fw-bold">
                    Comment {{ forloop.counter }} by <a class="text-primary"style="text-decoration: none;" href="#">{{ comment.name }}</a>
                    {{ comment.created }}
                 </p>
                 {{ comment.body|linebreaks }}
                 {% empty %}
            <p>There are no comments</p>
            {% endfor %}
            <div class="mb-4">{% include "blog/post/includes/comment_form.html" %}</div>
           
            </div>
           
            <div>
                
            </div>
        </div>
    </div>
</article>

{% endblock %}